body{
  background-color: cyan;
  color:222;
  font-family:Arial,Helvetica,sans-serif;
}
/*start:; header*/

header{
  background-color:#111;
}
header nav{
  max-width: 100px;
  margin:0;
}
header nav ul{
  padding: 0;
  margin :0;
  float:right
}

header nav ul li{
  list-style:none;
  float:left;
}
header nav ul li a{
  color:#ccc;
  padding:20px;
  float:left;
  font-size:14px;
  text-decoration:none;
}

.container{
  background-color:#fff;
  max-width:1200px;
  margin:o auto;
  min-height:20px;
  padding:40px;
}

.container h1{
  padding: 0;
  margin:
  }

  .container img{
    width: 100;
  }

  .footer{
  font-size: 12px;
  text-align: center;
  padding: 50px 0;
  color:#ccc;
}